@model IEnumerable<RASS_System.Models.accidentData>

@{
    ViewData["Title"] = "Accidnet List";
}

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Accident List</h3>
              </div>              
              <div class="card-body">
            <p>
                <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Add New Accident details</a>
            </p>
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.county)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.road)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Police)
            </th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.county)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.road)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Police.Name)
            </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary"><i class="fa fa-eye"></i>Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>